@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

$header-font-family: 'Oswald', sans-serif;
$body-font-family: 'Roboto', sans-serif;

.md36 {
    font-size: 36px;
}